@import "./variables.scss";

.content {
  ul {
    padding: 0;
    list-style: none;
  }
}

@media only screen and (min-width: $mediumScreen) {
  .content {
    order: 2;
    flex: 0 1 800px;
    position: relative;
    padding: 0;
    overflow: hidden;
  }
}
