@import "./variables.scss";

body {
  font-family: $serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: $mediumScreen) {
  body {
    font-size: 20px;
  }
}

@media only screen and (min-width: $largeScreen) {
  body {
    font-size: 20px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 5px 0;
}

p {
  margin: 5px 0;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

table,
th,
td {
  border: 1px solid $border-gray;
  border-collapse: collapse;
}

table {
  margin-bottom: 10px;
}

th {
  text-align: left;
}

th,
td {
  padding: 10px;
}
