@import "./variables.scss";

main {
  width: calc(100vw - 20px);
  padding: 10px 10px 0;
  margin-bottom: 20px;

  a {
    color: $purple;
  }
}

@media only screen and (min-width: $mediumScreen) {
  main {
    padding: 50px 25px 0;
  }
}
