@import "./variables.scss";

.page-links {
  ul {
    margin: 3px 0;
    padding-left: 0px;
    list-style: none;
  }

  li {
    margin: 3px 0;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  h3 {
    border-bottom: 1px solid $dark-gray;
  }

  .active {
    font-weight: bold;
  }

  .link-group {
    margin-bottom: 15px;
  }

  .link-list {
    li {
      border-bottom: 1px solid $border-gray;

      &:last-child {
        border-bottom: 0;
      }

      &.with {
        margin: 10px 0;
      }
    }

    p {
      margin: 0;
    }
  }

  button.toggler {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 75px;
    height: 75px;
    border-radius: 40px;
    border: 0;
    background: $bright-orange;
    font-size: 1em;
    z-index: 1;
  }

  .children {
    display: none;
    background: $light-gray;
    padding: 10px;

    &.visible {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: scroll;
    }
  }
}

@media only screen and (min-width: $mediumScreen) {
  .page-links {
    position: relative;
    width: 225px;
    min-width: 225px;
    margin-right: 15px;
    order: 1;

    h3 {
      font-size: 1.1em;
    }

    button.toggler {
      display: none;
    }

    .children {
      display: block;
      background: transparent;
    }
  }
}
