@import "./variables.scss";

.section {
  margin-top: 15px;
}

.aside {
  padding: 5px 10px;
  border-left: 2px solid $border-green;
  background: $light-green;
  margin-top: 15px;

  .inline-code {
    background: $green !important;
  }
}

.header-link {
  text-decoration: none;
  display: inline-block;

  &:before {
    content: "";
    display: block;
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
  }

  span {
    margin-left: 5px;
    color: $dark-gray;
  }
}

@media only screen and (min-width: $mediumScreen) {
  .section {
    max-width: 800px;
  }
}
