@import "./variables.scss";

.section {
  margin-top: 15px;
}

.aside {
  padding: 5px 10px;
  border-left: 2px solid $border-green;
  background: $light-green;
  margin-top: 15px;

  .inline-code {
    background: $green !important;
  }
}

.header-link {
  text-decoration: none;

  &::after {
    content: "#";
    color: $dark-gray;
    margin-left: 5px;
    display: none;
  }

  &:hover::after {
    display: inline-block;
  }
}

@media only screen and (min-width: $mediumScreen) {
  .section {
    max-width: 800px;
  }

  .displaced-header {
    &:before {
      content: "";
      display: block;
      margin-top: -50px;
      height: 50px;
      visibility: hidden;
    }
  }
}
