@import "./variables.scss";

.section {
  margin-top: 15px;

  .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: $dark-gray;
  }
}

.aside {
  padding: 5px 10px;
  border-left: 2px solid $border-green;
  background: $light-green;
  margin-top: 15px;

  .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: $dark-gray;
  }

  .inline-code {
    background: $green !important;
  }
}

@media only screen and (min-width: $mediumScreen) {
  .section {
    max-width: 800px;
  }
}
