{
  "presets": [ "@babel/preset-env", "@babel/preset-react" ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "server": {
      "plugins": ["babel-plugin-dynamic-import-node"]
    }
  }
}
