.section {
  margin-top: 15px; }

.aside {
  padding: 5px 10px;
  border-left: 2px solid #4caf50;
  background: #e8f5e9;
  margin-top: 15px; }
  .aside .inline-code {
    background: #81c784 !important; }

.header-link {
  text-decoration: none; }
  .header-link::after {
    content: "#";
    color: #666;
    margin-left: 5px;
    display: none; }
  .header-link:hover::after {
    display: inline-block; }
  @media only screen and (min-width: 641px) {
  .section {
    max-width: 800px; }
  .displaced-header:before {
    content: "";
    display: block;
    margin-top: -50px;
    height: 50px;
    visibility: hidden; } }

