@charset "UTF-8";
body {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

#API > .section {
  border-bottom: 3px double #222233; }

#API .section {
  margin-bottom: 5px; }

.banner {
  margin: 15px 0 50px;
  color: #222233;
  max-width: 800px;
  padding: 0 15px; }
  .banner h1 {
    margin: 10px 0; }
  .banner p {
    font-size: 1.1em;
    margin: 0; }
  .banner pre {
    margin-top: 3px; }
  .banner .banner-buttons {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .banner .banner-buttons button {
      font-family: "Zilla Slab", serif;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      font-size: 1.1em;
      background: #fff;
      color: #222233;
      border: 0;
      border-bottom: 3px solid #fff;
      cursor: pointer; }
      .banner .banner-buttons button.active {
        font-weight: normal;
        border-color: #222233; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 5px 0; }

p {
  margin: 5px 0; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

table,
th,
td {
  border: 1px solid #c7c7c7;
  border-collapse: collapse; }

th {
  text-align: left; }

th,
td {
  padding: 10px; }

.content ul {
  padding: 0;
  list-style: none; }

.demo p {
  font-style: italic;
  text-align: center;
  margin: 0; }

header {
  background: #222233;
  width: 100%;
  padding: 30px 15px; }
  header nav {
    color: #efefef; }
    header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      list-style: none;
      padding: 0;
      margin: 0; }
    header nav li {
      padding: 0 10px; }
    header nav a {
      color: #efefef;
      font-size: 1.1em;
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 50px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 1px solid #222233; }
      header nav a:hover {
        color: #ff9800; }
      header nav a.active {
        color: #ff9800;
        border-bottom-color: #ff9800; }

.home-link {
  font-size: 1.5em;
  color: #ff9800; }

main {
  width: calc(100vw - 20px);
  padding: 10px 10px 0;
  margin-bottom: 20px; }
  main a {
    color: #222233; }

.note,
.warning {
  padding: 10px 5px;
  margin: 5px 0; }

.note {
  background: #eeeeee;
  border: 1px solid #c7c7c7; }
  .note:not(pre) > code[class*="language-"] {
    background: #fff; }

.aside .note {
  background: #fff; }

.warning {
  background: #ffe8bf;
  border: 1px solid #ff9800; }
  .warning:not(pre) > code[class*="language-"] {
    background: #ffb74d; }

.page {
  position: relative; }

.package-info > * {
  margin-right: 5px;
  margin-bottom: 5px;
  display: block; }

/* PrismJS 1.14.0
http://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+jsx&plugins=line-highlight */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999; }

.token.punctuation {
  color: #ccc; }

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a; }

.token.function-name {
  color: #6196cc; }

.token.boolean,
.token.number,
.token.function {
  color: #f08d49; }

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555; }

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd; }

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699; }

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.inserted {
  color: green; }

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em; }

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prism’s padding-top */
  background: rgba(153, 122, 102, 0.08);
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(153, 122, 102, 0.1)), to(rgba(153, 122, 102, 0)));
  background: linear-gradient(to right, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre; }

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
  -webkit-box-shadow: 0 1px white;
          box-shadow: 0 1px white; }

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em; }

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none; }

pre[class*="language-"] {
  margin: 0; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #222233; }

.aside :not(pre) > code[class*="language-"] {
  background: #81c784; }

.tutorial-outline :not(pre) > code[class*="language-"] {
  background: #64b5f6; }

.tutorial-branch :not(pre) > code[class*="language-"] {
  background: #ffb74d; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  background: #efefef;
  color: #222233;
  text-shadow: none;
  white-space: wrap; }

:not(pre) > code[class*="language-"] .token {
  color: #222233; }

.section,
.subsection {
  margin-top: 15px; }
  .section .header-link,
  .subsection .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: #666; }

.aside {
  padding: 5px 10px;
  border-left: 2px solid #4caf50;
  background: #e8f5e9;
  margin-top: 15px; }
  .aside .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: #666; }

.page-links ul {
  margin: 3px 0;
  padding-left: 0px;
  list-style: none; }

.page-links li {
  margin: 3px 0; }

.page-links a {
  text-decoration: none; }

.page-links h3 {
  border-bottom: 1px solid #666; }

.page-links .active {
  font-weight: bold; }

.page-links .link-group {
  margin-bottom: 15px; }

.page-links .link-list li.with {
  margin: 10px 0; }

.page-links .link-list p {
  margin: 0; }

.page-links button.toggler {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 75px;
  height: 75px;
  border-radius: 40px;
  border: 0;
  background: #ff9800;
  font-size: 1em;
  z-index: 1; }

.page-links .children {
  display: none;
  background: #efefef;
  padding: 10px; }
  .page-links .children.visible {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll; }

.side-by-side {
  margin: 10px 0 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.explanation {
  width: 100%; }
  .explanation p {
    margin: 0 0 25px; }

.code-block {
  width: 100%; }
  .code-block pre {
    height: 100%;
    vertical-align: top; }

.tutorial .link-list li.solo {
  border-bottom: 1px solid #efefef; }

.tutorial .link-list li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }
  .tutorial .link-list li ul li {
    margin: 0 5px; }

.tutorial .tutorial-branch {
  background: #ffe8bf;
  border: 1px solid #ff9800;
  padding: 10px; }
  .tutorial .tutorial-branch p {
    margin: 0; }
  .tutorial .tutorial-branch ul {
    margin: 0; }

.tutorial .tutorial-outline {
  border: 1px solid #2196f3;
  padding: 10px;
  margin: 5px 0;
  background: #deeffe; }
  .tutorial .tutorial-outline p {
    margin: 0; }
  .tutorial .tutorial-outline ul {
    margin: 0; }
  @media only screen and (min-width: 641px) {
  body {
    font-size: 20px; }
  .banner {
    padding: 0; }
  .content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative;
    padding: 0 50px; }
  header {
    padding: 0;
    position: fixed;
    z-index: 1; }
    header nav ul {
      max-width: 100%; }
      header nav ul li {
        margin-right: 20px;
        padding: 0; }
    header nav a {
      border-bottom-width: 3px;
      padding: 0 5px; }
  main {
    padding: 50px 25px 0; }
  .page {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row-nowrap;
            flex-flow: row-nowrap; }
  .page-links {
    position: relative;
    width: 200px;
    min-width: 200px;
    margin-right: 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    .page-links h3 {
      font-size: 1.1em; }
    .page-links button.toggler {
      display: none; }
    .page-links .children {
      display: block;
      background: transparent; }
  .side-by-side > :first-child {
    margin-right: 20px; }
  .explanation {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 600px; }
  .code-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%; }
    .code-block code {
      min-width: 200px; } }
  @media only screen and (min-width: 1025px) {
  body {
    font-size: 20px; } }

