@charset "UTF-8";
body {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 0.5em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #222233; }

.note:not(pre) > code[class*="language-"] {
  background: #fff; }

.aside :not(pre) > code[class*="language-"] {
  background: #81c784; }

.tutorial-outline :not(pre) > code[class*="language-"] {
  background: #64b5f6; }

.tutorial-branch :not(pre) > code[class*="language-"] {
  background: #ffb74d; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  background: #efefef;
  color: #222233;
  text-shadow: none;
  white-space: nowrap; }

:not(pre) > code[class*="language-"] .token {
  color: #222233; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: 0.7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 2em; }

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prism’s padding-top */
  background: rgba(153, 122, 102, 0.08);
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(153, 122, 102, 0.1)), to(rgba(153, 122, 102, 0)));
  background: linear-gradient(to right, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre; }

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  color: slategray;
  /*hsl(24, 20%, 95%);*/
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em; }

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 5px 0; }

p {
  margin: 10px 0; }

h1 {
  font-size: 1.75em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

table,
th,
td {
  border: 1px solid #c7c7c7;
  border-collapse: collapse; }

th {
  text-align: left; }

th,
td {
  padding: 0 10px; }

header {
  background: #222233; }
  header nav {
    color: #efefef; }
    header nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    header nav a {
      color: #efefef;
      font-size: 1.1em;
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 50px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header nav a:hover {
        color: #ff9800; }
      header nav a.active {
        color: #ff9800; }

.home-link {
  font-size: 1.5em;
  color: #ff9800; }

main {
  padding: 10px 10px 0 10px;
  margin-bottom: 20px; }
  main a {
    color: #222233; }

.note,
.warning {
  padding: 10px 5px;
  margin: 5px 0; }

.note {
  background: #eeeeee;
  border: 1px solid #c7c7c7; }

.aside .note {
  background: #fff; }

.warning {
  background: #ffe8bf;
  border: 1px solid #ff9800; }

.banner {
  text-align: center;
  margin-top: 15px;
  color: #222233;
  max-width: 800px;
  margin: 0 auto; }
  .banner h1 {
    font-size: 2em;
    margin: 10px 0; }
  .banner p {
    font-size: 1.1em; }
  .banner pre {
    margin-top: 3px; }
  .banner .banner-buttons {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .banner .banner-buttons button {
      font-family: "Zilla Slab", serif;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      font-size: 1.1em;
      background: #fff;
      color: #222233;
      border: 0;
      border-bottom: 3px solid #fff;
      cursor: pointer; }
      .banner .banner-buttons button.active {
        font-weight: normal;
        border-color: #222233; }

.features {
  max-width: 1000px;
  margin: 25px auto 0;
  border-top: 1px dashed #222233;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.feature {
  background: #eeeeee;
  padding: 15px;
  margin-bottom: 15px;
  width: 275px; }

.sidebar ul {
  margin: 3px 0;
  padding-left: 0px;
  list-style: none; }

.sidebar li {
  margin: 3px 0; }

.sidebar a {
  text-decoration: none; }

.sidebar h3 {
  border-bottom: 1px solid #666; }

.sidebar .active {
  font-weight: bold; }

.sidebar .link-group {
  margin-bottom: 15px; }

.sidebar .link-list li.with {
  margin: 10px 0; }

.sidebar .link-list p {
  margin: 0; }

.section,
.subsection {
  margin-top: 15px; }
  .section .header-link,
  .subsection .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: #666; }

.aside {
  padding: 5px 10px;
  border-left: 2px solid #4caf50;
  background: #e8f5e9;
  margin-top: 15px; }
  .aside .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: #666; }

.tutorial .link-list li.solo {
  border-bottom: 1px solid #efefef; }

.tutorial .link-list li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }
  .tutorial .link-list li ul li {
    margin: 0 5px; }

.tutorial .tutorial-branch {
  background: #ffe8bf;
  border: 1px solid #ff9800;
  padding: 10px; }
  .tutorial .tutorial-branch p {
    margin: 0; }
  .tutorial .tutorial-branch ul {
    margin: 0; }

.tutorial .tutorial-outline {
  border: 1px solid #2196f3;
  padding: 10px;
  margin: 5px 0;
  background: #deeffe; }
  .tutorial .tutorial-outline p {
    margin: 0; }
  .tutorial .tutorial-outline ul {
    margin: 0; }

.package-info > * {
  margin-right: 5px;
  margin-bottom: 5px;
  display: block; }

.demo p {
  font-style: italic;
  text-align: center;
  margin: 0; }

.tiles {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0; }
  .tiles .tile {
    background: #222233;
    position: relative;
    margin: 0 10px 10px 0; }
    .tiles .tile a {
      display: block;
      width: 200px;
      height: 200px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 5px 10px; }
  .tiles h2 {
    color: #ff9800;
    margin: 0; }
  .tiles p.description {
    color: #efefef;
    line-height: 24px; }

#API > .section {
  border-bottom: 3px double #222233; }

#API .section {
  margin-bottom: 5px; }

@media only screen and (min-width: 900px) {
  header nav {
    width: 900px;
    margin: 0 auto; }
    header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      header nav ul li {
        margin-right: 20px; }
    header nav a {
      border-bottom: 3px solid #222233; }
      header nav a.active {
        border-bottom-color: #ff9800; }
  main {
    width: 900px;
    margin-left: auto;
    margin-right: auto; }
  .code {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .code pre {
      width: 500px;
      min-width: 500px; }
    .code .description {
      margin: 0 10px; }
  .guide,
  .package,
  .example,
  .tutorial {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row-nowrap;
            flex-flow: row-nowrap; }
  .sidebar {
    max-width: 200px;
    min-width: 150px;
    margin-right: 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    .sidebar h3 {
      font-size: 1.1em; }
  .content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
    max-width: 800px; } }

