pre[class*="language-"] {
  margin: 0;
  background: #222233; }

:not(pre) > code[class*="language-"] {
  white-space: nowrap; }

.inline-code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  /*
   * not ideal, but using important so that I don't have to
   * edit the css file provided by prism
   */
  background: #fff !important;
  color: #222233 !important;
  text-shadow: none;
  white-space: wrap; }
  .inline-code .token {
    color: #222233; }

.explanation {
  width: 100%; }
  .explanation p {
    margin: 0 0 25px; }

.code-block {
  width: 100%;
  margin: 0 0 25px; }
  .code-block pre {
    height: 100%;
    vertical-align: top; }
  @media only screen and (min-width: 641px) {
  .code-block code {
    min-width: 200px; } }

.page {
  position: relative; }

@media only screen and (min-width: 641px) {
  .page {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; } }

.content ul {
  padding: 0;
  list-style: none; }

@media only screen and (min-width: 641px) {
  .content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 800px;
            flex: 0 1 800px;
    position: relative;
    padding: 0;
    overflow: hidden; } }

.collapse-button {
  cursor: pointer;
  font-size: 24px;
  font-family: "Zilla Slab", serif;
  text-align: left;
  width: 100%;
  background: none;
  border: 0;
  padding: 0;
  color: #222233; }

.page-links ul {
  margin: 3px 0;
  padding-left: 0px;
  list-style: none; }

.page-links li {
  margin: 3px 0; }

.page-links a {
  text-decoration: none;
  display: inline-block; }

.page-links h3 {
  border-bottom: 1px solid #666; }

.page-links .active {
  font-weight: bold; }

.page-links .link-group {
  margin-bottom: 15px; }

.page-links .link-list li {
  border-bottom: 1px solid #c7c7c7; }
  .page-links .link-list li:last-child {
    border-bottom: 0; }
  .page-links .link-list li.with {
    margin: 10px 0; }

.page-links .link-list p {
  margin: 0; }

.page-links button.toggler {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 75px;
  height: 75px;
  border-radius: 40px;
  border: 0;
  background: #ff9800;
  font-size: 1em;
  z-index: 1; }

.page-links .children {
  display: none;
  background: #efefef;
  padding: 10px; }
  .page-links .children.visible {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll; }
  @media only screen and (min-width: 641px) {
  .page-links {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 225px;
            flex: 0 0 225px;
    margin-right: 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    .page-links h3 {
      font-size: 1.1em; }
    .page-links button.toggler {
      display: none; }
    .page-links .children {
      display: block;
      background: transparent; } }

.note,
.warning {
  padding: 10px 5px;
  margin: 5px 0; }

.note {
  background: #eeeeee;
  border: 1px solid #c7c7c7; }
  .note .inline-code {
    background: #fff !important; }

.aside .note {
  background: #fff; }

.warning {
  background: #ffe8bf;
  border: 1px solid #ff9800; }
  .warning .inline-code {
    background: #ffb74d !important; }

header {
  background: #222233;
  width: 100%;
  padding: 30px 15px; }
  header nav {
    color: #efefef; }
    header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      list-style: none;
      padding: 0;
      margin: 0; }
    header nav li {
      padding: 0 10px; }
    header nav a {
      color: #efefef;
      font-size: 1.1em;
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 50px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 1px solid #222233; }
      header nav a:hover {
        color: #ff9800; }
      header nav a.active {
        color: #ff9800;
        border-bottom-color: #ff9800; }

.home-link {
  font-size: 1.5em;
  color: #ff9800; }

@media only screen and (min-width: 641px) {
  header {
    padding: 0;
    position: fixed;
    z-index: 1; }
    header nav ul {
      max-width: 100%; }
      header nav ul li {
        margin-right: 20px;
        padding: 0; }
    header nav a {
      border-bottom-width: 3px;
      padding: 0 5px; } }

body {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 5px 0; }

p {
  margin: 5px 0; }

h1 {
  font-size: 1.75em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

table,
th,
td {
  border: 1px solid #c7c7c7;
  border-collapse: collapse; }

table {
  margin-bottom: 10px; }

th {
  text-align: left; }

th,
td {
  padding: 10px; }

@media only screen and (min-width: 641px) {
  body {
    font-size: 20px; } }

@media only screen and (min-width: 1025px) {
  body {
    font-size: 20px; } }

main {
  width: calc(100vw - 20px);
  padding: 10px 10px 0;
  margin-bottom: 20px; }
  main a {
    color: #222233; }
  @media only screen and (min-width: 641px) {
  main {
    padding: 50px 25px 0; } }

