.section,
.subsection {
  margin-top: 15px; }
  .section .header-link,
  .subsection .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: #666; }

.aside {
  padding: 5px 10px;
  border-left: 2px solid #4caf50;
  background: #e8f5e9;
  margin-top: 15px; }
  .aside .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: #666; }
  .aside .inline-code {
    background: #81c784 !important; }
  @media only screen and (min-width: 641px) {
  .section,
  .subsection {
    max-width: 800px; } }

.package-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .package-info > * {
    margin-right: 5px;
    margin-bottom: 5px; }

#API > .section {
  border-bottom: 3px double #222233; }

#API .section {
  margin-bottom: 5px; }

