.package-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .package-info > * {
    margin-right: 5px;
    margin-bottom: 5px; }

