.tutorial .link-list li.solo {
  border-bottom: 1px solid #efefef; }

.tutorial .link-list li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }
  .tutorial .link-list li ul li {
    margin: 0 5px; }

.tutorial .tutorial-branch {
  background: #ffe8bf;
  border: 1px solid #ff9800;
  padding: 10px; }
  .tutorial .tutorial-branch p {
    margin: 0; }
  .tutorial .tutorial-branch ul {
    margin: 0; }
  .tutorial .tutorial-branch .inline-code {
    background: #ffb74d !important; }

.tutorial .tutorial-outline {
  border: 1px solid #2196f3;
  padding: 10px;
  margin: 5px 0;
  background: #deeffe; }
  .tutorial .tutorial-outline p {
    margin: 0; }
  .tutorial .tutorial-outline ul {
    margin: 0; }
  .tutorial .tutorial-outline .inline-code {
    background: #64b5f6 !important; }

.section,
.subsection {
  margin-top: 15px; }
  .section .header-link,
  .subsection .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: #666; }

.aside {
  padding: 5px 10px;
  border-left: 2px solid #4caf50;
  background: #e8f5e9;
  margin-top: 15px; }
  .aside .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: #666; }
  .aside .inline-code {
    background: #81c784 !important; }

.demo p {
  font-style: italic;
  text-align: center;
  margin: 0; }

