<div class="controls">
  <p>
    Use the controls to adjust the data load time and to clear the cache
    of loaded data.
  </p>
  <div>
    <label for="delayRange">Delay: {delay}</label>
    <input
      type="range"
      id="delayRange"
      value=delay
      min="0"
      max="5000"
      step="500"
      on:input="delayHandler(event)"
    />
  </div>
  <div>
    <button type="button" on:click="clearCache()">
      Clear Cache
    </button>
  </div>
</div>

<script>
  import { delay as delayAPI } from "../api";
  import cache from "../cache";

  export default {
    data() {
      return {
        delay: delayAPI()
      };
    },
    methods: {
      delayHandler(event) {
        this.set({
          delay: delayAPI(parseInt(event.target.value, 10))
        });
      },
      clearCache() {
        cache.reset();
      }
    }
  }
</script>

<style>
  .controls {
    border: 1px solid #444;
    padding: 5px;
  }
</style>