{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": "commonjs",
        "targets": {
          "browsers": ["> 1%"]
        }
      }
    ]
  ],
  "plugins": [ "transform-object-rest-spread" ]
}
