@import './variables.scss';

.sidebar {
  ul {
    margin: 3px 0;
    padding-left: 0px;
    list-style: none;
  }

  li {
    margin: 3px 0;
  }

  a {
    text-decoration: none;
  }

  h3 {
    border-bottom: 1px solid $dark-gray;
  }

  @import './list.scss';
}
.section, .subsection {
  margin-top: 15px;

  .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: $dark-gray;
  }
}

.aside {
  padding: 5px 10px;
  border-left: 2px solid $border-gray;
  background: $light-gray;
  margin-top: 15px;

  .header-link {
    margin-left: 10px;
    text-decoration: none;
    color: $dark-gray;
  }
}

.tutorial {
  .link-list {
    li {

      &.solo {
        border-bottom: 1px solid $light-gray;
      }

      ul {
        display: flex;
        margin: 0;
        li {
          margin: 0 5px;
        }
      }
    }
  }

  .tutorial-branch {
    background: $light-orange;
    border: 1px solid $bright-orange;
    padding: 5px;
  }
}

@media only screen and (min-width: $largeScreen) {
  .guide, .package, .example, .tutorial {
    padding-top: 15px;
    display: flex;
    flex-flow: row-nowrap;
  }

  .sidebar {
    max-width: 200px;
    min-width: 150px;
    margin-right: 15px;
    order: 1;

    h3 {
      font-size: 1.1em;
    }
  }

  .content {
    order: 2;
    position: relative;
    max-width: 800px;
  }
}
