@import "./variables.scss";

@media only screen and (min-width: $mediumScreen) {
  .guide,
  .package,
  .example,
  .tutorial {
    padding-top: 15px;
    display: flex;
    flex-flow: row-nowrap;
  }
}
