@import "./variables.scss";

.banner {
  margin: 15px 0 50px;
  color: $purple;
  max-width: 800px;
  padding: 0 15px;

  h1 {
    margin: 10px 0;
  }

  p {
    font-size: 1.1em;
    margin: 0;
  }

  pre {
    margin-top: 0;
  }

  .banner-buttons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    button {
      font-family: $serif;
      flex-grow: 1;
      font-size: 1.1em;
      background: $white;
      color: $purple;
      border: 0;
      border-bottom: 3px solid $white;
      cursor: pointer;

      &.active {
        font-weight: normal;
        border-color: $purple;
      }
    }
  }
}

@media only screen and (min-width: $mediumScreen) {
  .banner {
    padding: 0;
  }
}
