@import "./variables.scss";

.features {
  max-width: 1000px;
  margin: 25px auto 0;
  border-top: 1px dashed $purple;
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.feature {
  background: $gray;
  padding: 15px;
  margin-bottom: 15px;
  width: 275px;
}

@media only screen and (min-width: $mediumScreen) {
}

@media only screen and (min-width: $largeScreen) {
  .code {
    display: flex;
    flex-flow: row nowrap;

    pre {
      width: 500px;
      min-width: 500px;
    }

    .description {
      margin: 0 10px;
    }
  }
}
