@import './variables.scss';

header { 
  nav {
    background: $purple;
    color: $light-gray;
    padding: 10px 5%;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      color: $light-gray;
      font-size: 1.2em;
      text-decoration: none;
    }
  }
}

.home-link {
  font-size: 1.5em;
  color: $orange;
}

@media only screen and (min-width: $largeScreen) {
 
  header {
    nav {
      padding: 10px 20%;

      ul {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;

        li {
          margin-right: 20px;
        }
      }
    }
  
  }
}
