@import './variables.scss';

header { 
  background: $purple;

  nav {
    color: $light-gray;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      color: $light-gray;
      font-size: 1.1em;
      text-decoration: none;
      display: flex;
      height: 50px;
      align-items: center;

      &:hover {
        color: $bright-orange;
      }

      &.active {
        color: $bright-orange;
      }
    }
  }
}

.home-link {
  font-size: 1.5em;
  color: $bright-orange;
}

@media only screen and (min-width: $largeScreen) {
 
  header {
    nav {
      width: $largeScreen;
      margin: 0 auto;

      ul {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;

        li {
          margin-right: 20px;
        }
      }

      a {
        border-bottom: 3px solid $purple;

        &.active {
          border-bottom-color: $bright-orange;
        }
      }
    }
  
  }
}
