@import './variables.scss';

body {
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  box-sizing: border-box;
}

@import './prism.scss';
@import './baseElements.scss';
@import './header.scss';
@import './main.scss';
@import './messages.scss';
@import './banner.scss';
@import './article.scss';
@import './package.scss';

.active {
  font-weight: bold;
}


