@import './variables.scss';

body {
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  box-sizing: border-box;
}

@import './prism.scss';
@import './baseElements.scss';
@import './header.scss';
@import './main.scss';
@import './messages.scss';
@import './homepage.scss';
@import './article.scss';
@import './package.scss';
@import './demo.scss';
@import './tiles.scss';

.active {
  font-weight: bold;
}


