@import './variables.scss';

main {
  padding: 10px 0 0 20px;
  
  a {
    color: $purple;
  }

  margin-bottom: 20px;
}

@media only screen and (min-width: $largeScreen) {
  main {
    width: $largeScreen;
    margin-left: auto;
    margin-right: auto;
  }
}
