@import './variables.scss';

main {
  padding: 10px 0 0 20px;
  
  a {
    color: $purple;
  }
}

@media only screen and (min-width: $largeScreen) {
  main {
    width: $largeScreen;
    margin: 0 auto;
  }
}
