@import "./variables.scss";

.note,
.warning {
  padding: 10px 5px;
}

.note {
  background: $gray;
  border: 1px solid $border-gray;
}

.aside .note {
  background: $white;
}

.warning {
  background: $light-orange;
  border: 1px solid $bright-orange;
}
