@import "./variables.scss";

.side-by-side {
  margin: 10px 0 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.explanation {
  width: 100%;

  p {
    margin: 5px 0;
  }
}

.code-block {
  width: 100%;

  pre {
    height: 100%;
    vertical-align: top;
  }
}

@media only screen and (min-width: $mediumScreen) {
  .side-by-side {
    & > :first-child {
      margin-right: 20px;
    }
  }

  .explanation {
    flex: 1 1 50%;
    max-width: 600px;
  }
  .code-block {
    flex: 1 0 50%;
  }
}
