@import "./variables.scss";

.tiles {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;

  .tile {
    background: $purple;
    position: relative;
    margin: 0 10px 10px 0;

    a {
      display: block;
      width: 250px;
      height: 250px;
      box-sizing: border-box;
      padding: 5px 10px;
    }
  }

  h2 {
    color: $bright-orange;
    margin: 0;
  }

  p.description {
    color: $light-gray;
    line-height: 24px;
  }
}
