$purple: #222233;

$bright-orange: #ff9800;
$orange: #ffb74d;
$light-orange: #ffe8bf;

$white: #fff;
$light-gray: #efefef;
$gray: #eeeeee;
$border-gray: #c7c7c7;
$dark-gray: #666;

$light-blue: #deeffe;
$blue: #64b5f6;
$border-blue: #2196f3;

$light-green: #e8f5e9;
$green: #81c784;
$border-green: #4caf50;

$largeScreen: 900px;

$serif: "Zilla Slab", serif;
